body {
	margin: 0;
	padding: 0;
}
.wrapper{
	padding-top: 50px;
	width: 960px;
}

.table{
	width: auto;
	margin: 0 auto;
}
.table-condensed>thead>tr>th {
	padding: 5px 10px;
	text-align: center;
	background-color: gray;
}
.table-condensed>tbody>tr>td {
	padding: 5px 10px;
}
td{
	min-width: 200px;
	text-align: center;
}
.top-new-data, .bottom-new-data{
	position: relative;
	top: 0;
	left: 615px;
	margin:10px 0;
}
.actions {
	width: 60px;
}